.checkbox{
    -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     background-color: #FF3E79;
     height: 16px;
     width: 16px;
     border: 1px solid #E0E0E0;
     border-radius: 3px;
     
 }
 
 input[type='radio']:checked:after {
     width: 15px;
     height: 15px;
     border-radius: 15px;
    
     left: 2.3px;
     position: relative;
     background-color: black;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
 }
 
 input[type="checkbox"]:checked {
     background: blue;
     margin:0px;
     position: relative;
   }
 
 .radio2
 {
     border-radius: 8px;
     height: 46px;
     background-color: #E0E0E0;
     padding-left: 10px;
 }
 
 .radio2>div{
     height: 100%;
     border-right: 1px solid black;
     width: 90%;
 
 }
 .checkboxRounder{
     
     float: right;
     width: 32px;
     height: 32px;
     border-radius: 50px;
     background-color:  #FF3E79;
     padding-top: 7px;
     padding-left: 8px;
 }
 .close{
     width: 20px;
     height: 20px;
 }
 .modal-footer>button{
     width: 50%;
     background-color:  #FF3E79;
     color: white;
     font-size: 16px;
     margin-right: 25%;
 }
 .nante{
    padding-right: 70%;
}
.bordeaux
{
    padding-right: 65%;
}
.rennes
{
    padding-right: 70%;
}
.rad{
    float: right;
     margin-top: -30px;
     margin-right: 15px;
     height: 19px;
     width: 19px;
     background-color: black;
}

  @media only screen and (min-width: 268px) { 
    .radio2>div{
        height: 100%;
        border-right: 1px solid black;
        width: 85%;
    
    } 
    .nante{
         padding-right: 68%;
     }
     .bordeaux
     {
         padding-right: 60%;
     }
     .rennes
     {
         padding-right: 65%;
     }
     .rad{
         padding-left: 50%;
         float: right;
         margin-top: -30px;
        margin-right: 15px;
        height: 19px;
        width: 19px;
        background-color: black;
     }
     
 } 