
    <!--===================== SECTIONS ======================-->

    <!--===================== HERO ======================-->
    <section class="hero container">
        <div class="hero__text"><strong>Découvrez</strong> et <strong>réservez</strong> la coiffeuse qui vous correspond, en quelques clics !</div>
        <div class="hero__img">
            <img src="../assets/img/filleavectelephone1.png"  alt="girl with phone" />
        </div>
        <div class="hero__form">
            <div>
                <!-- <div class="hero__form-navigation">
                    <button type="button" class="btn btn-active tabs-btn" id="tabs-form">Je reserve ma coiffeuse</button>
                    <button type="button" class="btn tabs-btn" id="tabs-discover">Je découvre les coiffures</button>
                </div> -->
                
    <ng-template #content let-modal>
        <div class="modal-header">
           <h4 class="modal-title" id="modal-basic-title" style="margin-left: 30%;">Selectionne ta ville</h4>
          <img src="../assets/img/close.svg" class="close" (click)="modal.dismiss('Cross click')">
           
         
        </div>
        <div class="modal-body" >
          <form>
            <div class="form-group">
             
              <div class="input__element" style="border: 1px solid black;" (click)="derouler()">
                <img src="../assets/img/Ville.svg" alt="">
                <h6 style="padding-right:70%;padding-left:5%;font-family: Helvetica Neue LT Com; color: #8c8c8c; ">Paris</h6>
                <div class="checkboxRounder"
                >
                <input type="checkbox" class="checkbox" name="ville"  id="ville">
                </div>
              </div>
            </div>
            
            <div class="form-group" *ngIf="paris">
             <br>
                <div class="radio2" >
                    <div>
                        <h6 style="font-family: Helvetica Neue LT Com; color: #54514C;padding-top: 10px; ">Seine-et-Marne (77)</h6>
                        
                    </div>
                    
                        <input class="rad"  type="radio" name="" id="" value="Seine-et-Marne (77)">
                   
                </div>
      
             <br>
                <div class="radio2" >
                    <div>
                        <h6 style="font-family: Helvetica Neue LT Com; color: #54514C;padding-top: 10px; ">Yvelines (78)</h6>
                        
                    </div>
                    
                        <input class="rad"  type="radio" name="" id="" value="Seine-et-Marne (77)">
                   
                </div>
      
              <br>
                <div class="radio2" >
                    <div>
                        <h6 style="font-family: Helvetica Neue LT Com; color: #54514C;padding-top: 10px; ">Essonne (91)</h6>
                        
                    </div>
                    
                        <input class="rad" style="float: right; margin-top: -30px;margin-right: 15px;height: 19px;width: 19px;background-color: black;" type="radio" name="" id="" value="Seine-et-Marne (77)">
                   
                </div>
      
              <br>
                <div class="radio2" >
                    <div>
                        <h6 style="font-family: Helvetica Neue LT Com; color: #54514C;padding-top: 10px; ">Hauts-de-Seine (92)</h6>
                        
                    </div>
                    
                        <input class="rad" style="float: right; margin-top: -30px;margin-right: 15px;height: 19px;width: 19px;background-color: black;" type="radio" name="" id="" value="Seine-et-Marne (77)">
                   
                </div>
      
              <br>
                <div class="radio2" >
                    <div>
                        <h6 style="font-family: Helvetica Neue LT Com; color: #54514C;padding-top: 10px; ">Seine-Saint-Denis (93)</h6>
                        
                    </div>
                    
                        <input class="rad" style="float: right; margin-top: -30px;margin-right: 15px;height: 19px;width: 19px;background-color: black;" type="radio" name="" id="" value="Seine-et-Marne (77)">
                   
                </div>
      
              </div>
            <br>
            <div class="form-group">
             
                <div class="input__element" style="border: 1px solid black;" (click)="masquer()">
                  <img src="../assets/img/Ville.svg" alt="">
                  <h6 style="padding-right:70%;padding-left:5%; font-family: Helvetica Neue LT Com; color: #8c8c8c;">Lille</h6>
                  <div class="checkboxRounder"
                  >
                  <input type="checkbox" class="checkbox" name="ville"  id="ville">
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
             
                <div class="input__element" style="border: 1px solid black;" (click)="masquer()">
                  <img src="../assets/img/Ville.svg" alt="">
                  <h6 style="padding-left:5%;font-family: Helvetica Neue LT Com; color: #8c8c8c;" class="nante">Nante</h6>
                  <div class="checkboxRounder"
                  >
                  <input type="checkbox" class="checkbox" name="ville"  id="ville">
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
             
                <div class="input__element" style="border: 1px solid black;" (click)="masquer()">
                  <img src="../assets/img/Ville.svg" alt="">
                  <h6 style="padding-left:5%;font-family: Helvetica Neue LT Com; color: #8c8c8c;" class="bordeaux">Bordeaux</h6>
                  <div class="checkboxRounder"
                  >
                  <input type="checkbox" class="checkbox" name="ville"  id="ville">
                  </div>
                </div>
              </div>
               <br>
              <div class="form-group">
             
                <div class="input__element" style="border: 1px solid black;" (click)="masquer()">
                  <img src="../assets/img/Ville.svg" alt="">
                  <h6 style="padding-left:5%;font-family: Helvetica Neue LT Com; color: #8c8c8c; " class="rennes">Rennes</h6>
                  <div class="checkboxRounder"
                  >
                  <input type="checkbox" class="checkbox" name="ville"  id="ville">
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">VALIDER</button>
        </div>
      </ng-template>



    
                <section>
                    <input type="radio" name="show-tabs-content" id="show-hair">
                    <label for="show-hair" class="btn tabs-btn">Je reserve ma coiffeuse</label>
                    <input type="radio" name="show-tabs-content" id="show-form">
                    <label for="show-form" class="btn tabs-btn">Je découvre les coiffures</label>
                    
                    <form action="" class="hero__form-reservation tabs-content tabs-active tabs-form">
                        <div class="form__group">
                            <div class="input__element">
                                <label for="city">Choix de la ville</label>
                                <img src="../assets/img/Group 64.svg" alt="" srcset="" />
                                <select name="city" id="city" (click)="open(content)">
                                    <option value="Nante">Choix de la ville</option>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="input__element">
                                <label for="city">Prestation</label>
                                <img src="../assets/img/Vector.svg" alt="" srcset="" />
                                <select name="city" id="city">
                                    <option value="Nante">Type de prestation</option>
                                    <option value="Nante">Paris</option>
                                    <option value="Nante">Marseille</option>
                                    <option value="Nante">Lille</option>
                                    <option value="Nante">Bamenda</option>
                                </select>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="input__element">
                                <label for="city">Choix de votre date</label>
                                <img src="../assets/img/Group 187.svg" alt="" srcset="" />
                                <select name="city" id="city">
                                    <option value="Nante">Date</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <div class="hero__form-hair tabs-content tabs-discover grid-layout">
                        <div>
                            <img src="../assets/img/hair-1.png" alt="hair" />
                            <h5>Tresse (Braids)</h5>
                        </div>
                        <div>
                            <img src="../assets/img/hair-1.png" alt="hair" />
                            <h5>Tresse (Braids)</h5>
                        </div>
                        <div>
                            <img src="../assets/img/hair-1.png" alt="hair" />
                            <h5>Tresse (Braids)</h5>
                        </div>
                        <div>
                            <img src="../assets/img/hair-1.png" alt="hair" />
                            <h5>Tresse (Braids)</h5>
                        </div>
                    </div>
                </section>
            </div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </section>

    <!--===================== CLIENTS ======================-->
    <section class="clients">
        <h3>De nombreux clients nous rejoigne</h3>
        <div class="card-container">
            <div class="card">
                <div class="nadia-pic">
                    <img class="nan" src="/assets/img/nadia.png" alt="" />
                    <h6>très gentille,<br> 
                        travail professionnel <br>
                       assurée, ponctuelle... <br>
                       j’ai vraiment appréciée</h6>
                </div>
                <div class="nadia-pic">
                    <div class="ico">
                        <h5>Nadia</h5>
                        <div class="start">
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                        </div>
                    </div>
                    <div class="date">10 Septmbre 2010</div>
                </div>
                
            </div>
            <div class="card">
                <div class="nadia-pic">
                    <img class="nan" src="/assets/img/nadia.png" alt="" />
                    <h6>très gentille,<br> 
                        travail professionnel <br>
                       assurée, ponctuelle... <br>
                       j’ai vraiment appréciée</h6>
                </div>
                <div class="nadia-pic">
                    <div class="ico">
                        <h5>Nadia</h5>
                        <div class="start">
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                        </div>
                    </div>
                    <div class="date">10 Septmbre 2010</div>
                </div>
                
            </div>
            <div class="card">
                <div class="nadia-pic">
                    <img class="nan" src="/assets/img/nadia.png" alt="" />
                    <h6>très gentille,<br> 
                        travail professionnel <br>
                       assurée, ponctuelle... <br>
                       j’ai vraiment appréciée</h6>
                </div>
                <div class="nadia-pic">
                    <div class="ico">
                        <h5>Nadia</h5>
                        <div class="start">
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                            <img src="../assets/img/Star.svg" alt="" />
                        </div>
                    </div>
                    <div class="date">10 Septmbre 2010</div>
                </div>
                
            </div>
        </div>
    </section>

    <!--===================== MEGA-SECTION ======================-->
    <section class="mega__section container">
        <!--===================== SECTIONS 1 ======================-->
        <section>
            <h4>Comment ça marche ?</h4>
            <div class="quest2">
                <div>
                    <div class="number">1</div>
                    <h5>Réservez</h5>
                    <p>
                        Je souhaite me faire coiffer,<br />
                        je choisis ma prestation et le jour<br />
                        où je souhaite me faire coiffer.
                    </p>
                </div>
                <div>
                    <div class="number nn">2</div>
                    <h5>Sélectionnez</h5>
                    <p>
                        Je choisis parmi de nombreuses<br />
                        coiffeseuses qualifiées et expérimentées.
                    </p>
                </div>
                <div>
                    <div class="number">3</div>
                    <h5>Validez</h5>
                    <p>
                        Je valide ma prestation en payant<br />
                        directement sur la plateforme.<br />
                        mon rendez-vous est confirmé.
                    </p>
                </div>
            </div>
            <h4>Tu es coiffeuse ?</h4>
            <div class="quest3">
                <div class="col">
                    <img src="../assets/img/Group 270.png" alt="" />
                    <h5>Coiffes selon tes disponibilités</h5>
                    <p>
                        tu gères ton planning et tes rendez-vous<br />
                        depuis ton profil en toute indépendance
                    </p>
                </div>
                <div class="col">
                    <img src="../assets/img/Group 271.png" alt="" />
                    <h5>Gagnes de l’argent</h5>
                    <p>
                        Tu coiffes à domicile et gagnes <br />
                        un complément de revenu ou transformes <br />
                        ta passion de coiffeuse en activité principale.
                    </p>
                </div>
                <div class="col">
                    <img src="../assets/img/Group 285.png" alt="" />
                    <h5>Revenus assurés</h5>
                    <p>
                        Tu fixes toi-même tes tarifs à l’avance<br />
                        et perçois la totalité du règlement de <br />
                        tes prestations.
                    </p>
                </div>
            </div>
            <a href="" class="btn btn-primary-colored">DEVENIR COIFFEUSE</a>
        </section>
    </section>

    <div class="blanc"></div>

    <!--===================== SECTIONS 2======================-->
    <section class="city">
        <h3>Déjà présent dans de nombreuses villes,... et bientôt près de chez vous</h3>
        <section class="card-container">
            <div class="slider">
                <div class="city-card">
                    <div class="city-animation">
                        <img src="../assets/img/paris.svg" alt="" />
                        <a routerLink="/paris" class="btn btn-primary">RÉSERVER</a>
                    </div>
                    <h6>Réserves ta coiffeuse à Paris et sa région</h6>
                </div>
                <div class="city-card">
                    <div class="city-animation">
                        <img src="../assets/img/rennes.svg" alt="" />
                        <a routerLink="/rennes" class="btn btn-primary">RÉSERVER</a>
                    </div>
                    <h6>Réserves ta coiffeuse à Rennes</h6>
                </div>
                <div class="city-card">
                    <div class="city-animation">
                        <img src="../assets/img/nante.svg" alt="" />
                        <a routerLink="/nantes" class="btn btn-primary">RÉSERVER</a>
                    </div>
                    <h6>Réserves ta coiffeuse à Nantes</h6>
                </div>
                <div class="city-card">
                    <div class="city-animation">
                        <img src="../assets/img/bordeaux.svg" alt="" />
                        <a routerLink="/bordeaux" class="btn btn-primary">RÉSERVER</a>
                    </div>
                    <h6>Réserves ta coiffeuse à Bordeaux</h6>
                </div>
                <div class="city-card">
                    <div class="city-animation">
                        <img src="../assets/img/lille.svg" alt="" />
                        <a routerLink="/lille" class="btn btn-primary">RÉSERVER</a>
                    </div>
                    <h6>Réserves ta coiffeuse à Lille</h6>
                </div>
            </div>
        </section>
    </section>
<div class="blanc"></div>
    <!--===================== DISCPVER ======================-->

    <section class="discover container">
        <div>
            <h4>Découvrez un ensemble de conseils pour la coiffure et l’entretien des cheveux bouclés, frisés et crépus.</h4>
            <a href="" class="btn btn-primary-colored">DÉCOUVRIR</a>
        </div>
        <div class="img-badge">
            <img src="../assets/img/discover.png" alt="" />

            <div class="badge">
                <p>Téléchargez gratuitement <br />notre guide des coiffures pour les BFC</p>
                <img src="../assets/img/hair-vacum.svg" class="badge-img" alt="" />
            </div>
        </div>
    </section>

    <!--===================== BIGSHOP ======================-->
    <section class="bigshop ">
        <div class="container">
            <div class="bigshop__desc">
                <h4>Un besoin de soins capillaires ou de mèches à tresser ? Découvrez le top des soins Pour cheveux crépus, frisés et bouclés.</h4>
                <a href="" class="btn btn-primary-colored">DÉCOUVRIR BIGSHOP</a>
            </div> <br>
            <img src="../assets/img/bigoodshop_ 1.png" alt="" />
        </div>
    </section>

    <!--===================== MOBILE APP ======================-->
    <section class="mobile-app">
        <div class="app__data">
            <h3 class="app__title">Télecharger dès à present notre appication mobile</h3>
            <div class="app__button">
                <button class="btn"><img src="../assets/img/appstore.png" alt="" /></button>
                <button class="btn"><img src="../assets/img/playstore.png" alt="" /></button>
            </div>
        </div>
        <div class="imge">
            <img class="bigshop1" alt="Bigoodeee Woman" src="../assets/img/bigoodee-app.png" />
        </div>
    </section>
