<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--===================== HEADER ======================-->
		<!--===================== HEADER ======================-->
		<header class="header">
            <div class="container">
                <div class="header__top" style="color: white">
                   
                    <div *ngIf="status();then contenu_bon else contenu_pas_bon">Le contenu saisi ici sera ignoré.</div>
                    <ng-template #contenu_bon><a routerLink="/acceuil" (click)="this.auth.SignOut()" class="contact-link"> SE DECONNECTER</a><br>
                        <br>
                         Bienvenue {{this.currentUser.displayName}}
                    </ng-template>
                    <ng-template #contenu_pas_bon>      <a routerLink="/connexion" class="contact-link">SE CONNECTER</a>";
                    </ng-template>
                    
                </div>
                <div class="header__body">
                    <div class="fake-element"></div>
                    <a href="#" class="header__logo">
                        <img src="../assets/img/logo-colored.svg" class="mobile-visible" alt="logo" />
                        <img src="../assets/img/logo.svg" class="mobile-hidden" alt="logo" />
                    </a>
                    <!-- <div class="bars" id="nav-toggle">
                        <img src="../assets/img/bars.svg" alt="bars" />
                    </div> -->
                    <label for="toggle-nav" class="toggle__nav menu">
                        <img src="../assets/img/bars.svg" alt="bars">
                    </label>
                    <input type="checkbox" name="toggle__nav" id="toggle-nav">
                    <nav class="nav" id="nav-menu">
                        <div class="nav__menu">
                            <a routerLink="/">
                                <img src="/assets/img/cfe.svg" class="header__nav-icon" alt="" />
                                DEVENIR COIFFEUSE</a
                            >
                            <a routerLink="/boutique">
                                <img src="/assets/img/btq.svg" class="header__nav-icon" alt="" />
                                BOUTIQUE
                            </a>
                            <a routerLink="/coiffeuses">
                                <img src="/assets/img/cog.svg" class="header__nav-icon" alt="" />
                                NOS COIFFEUSES
                            </a>
                            <a routerLink="/localisation">
                                <img src="/assets/img/map.svg" class="header__nav-icon" alt="" />
                                OÙ NOUS TROUVER?
                            </a>
                            <a routerLink="/aide">
                                <img src="/assets/img/aide.svg" class="header__nav-icon" alt="" />
                                BESOIN D'AIDE?
                            </a>
                            <a routerLink="/connexion" class="connexion">
                                <img src="/assets/img/con.svg" class="header__nav-icon" alt="" />
                                SE CONNECTER
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            
		</header>
        <div class="blanc"></div>
<router-outlet>
  
</router-outlet>
	<!--===================== FOOTER ======================-->
    <footer class="footer">
        <section class="footer__body container">
            <div>
                <img src="../assets/img/logo.svg" alt="" />
                <p>Decouvrez et reservez la coiffeuse qui vous correspond, en quelques clics !</p>
            </div>
            <div class="Our">
                <h3>Qui somme nous?</h3>
                <div class="f-link">
                    <a href="">FAC</a>
                    <a href="">CGU</a>
                    <a href="">Guide des coiffeuses de BFC</a>
                    <a href="">Merci pour elles</a>
                    <a href="">Nous contacter</a>
                    <a href="">Plan de Suite</a>
                </div>
            </div>
            <div>
                <h3>Rejoins-nous</h3>
                <div class="follow">
                    <a href="">
                        <img src="../assets/img/Group.svg" class="social__icon" alt="" srcset="" />
                    </a>
                    <a href="">
                        <img src="../assets/img/insta.svg" class="social__icon" alt="" srcset="" />
                    </a>
                </div>
            </div>
        </section>
        <div class="copyright-container">
            <p class="copyright">© Bigoodee 2021 tous droits réservés.</p>
        </div>
    </footer>

    <script src="../../assets/js/app.js"></script>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


