.form-connexion{
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid #e2e0df;
    border-radius: 15px;
    padding: 25px;
}
.form-connexion h4{
    color: var(--primary-color);
    margin-bottom: 30px;
}
.form-connexion input{
    width: 100%;
    border: none;
}
.error-input {
    font-size: .8em;
    color: #FF3E79;
  }
  .connexion-button {
    margin-top: 3%;
    border: none;
    background: #FF3E79;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
  }
input:focus{
    border: none;
}
.fb-connect{
    background-color: #2D88FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 2px;
    height: 45px;
}
.fb-connect h5{
    font-size: 16px;
}
.fb-connect img{
    width: auto;
    height: 30px;
    margin-right: 5px;
}
.ou{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ou img{
    width: auto;
}
.color-p{
    background-color: var(--primary-color);
}
.color-b{
    color: var(--primary-color);
    text-decoration: none;
}
.connexion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.connexion .img-connex{
    width: auto;
    height: auto;
    margin-top: 180px;
    padding: 10px;
}