/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #ff3e79;
	--gray-500: rgba(0, 0, 0, 0.75);
	--shadow-primary: 2px 2px 19px rgba(0, 0, 0, 0.15);
	--container: 1180px;
}
html {
	font-size: 100%;
}
.mobil-connex{
    margin-bottom: 25px;
}
.mobil-connex a{
 float: right;
}
input{
    outline: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Proxima Nova', 'Helvetica Neue', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/*
* Typographies -> p, h(1,2,3,4,5,6), a
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
	color: inherit;
	font-family: "Helvetica Neue";
}
.header__body .connexion{
	color: var(--primary-color);
}
.search{
	display: flex;
	background-color: white;
	border: none;
	height: 44px;
	width: 20rem;
	color: var(--primary-color);
	border-radius: 8px;
	text-align: center;
	font-weight: bold;
	align-items: center;
	margin-left: 25px;
	margin-top: 20px;
	padding-top: 10px;
}
img {
	width: 100%;
}
.download img {
	width: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

/*
* Components Button, header, footer ...
*/
.max button{
    margin-top: -25px;
}
.max .navbar-brand{
    margin-left: 80px;
}
.rose{
    height: 25px;
    background-color: var(--primary-color);
}
.ico{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nadia-pic img{
	
	height: 100px;
}
.nadia-pic{
    display: flex;
    justify-content: space-around;
}
.nadia-pic h4{
    margin-top: 7px;
    margin-bottom: 7px;
}
.nadia-pic p{
    text-align: start;
    font-size: 16px;
}
.nadia-pic .date{
    margin-top: 30px;
    font-size: 12px;
}
.nadia-pic .nan{
    margin-right: 30px;
}
.start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}
.start img{
    width: 20px;
    height: 20px;
    padding:0;
}
.hero__text {
	color: #ff3e79;
}

.btn {
	display: inline-block;
	outline: none;
	background: transparent;
	font-size: 1rem;
	border: none;
	cursor: pointer;
}
.img-connex {
	display: none;
}

.form-img3 {
	margin-top: -60px;
	padding-bottom: 50px;
}
.btn-primary {
	border-radius: 8px;
	color: var(--primary-color);
	background: white;
	border: none;
}

.btn-primary-colored {
	border-radius: 8px;
	background-color: var(--primary-color);
	color: white;
}

.slider {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: scroll;
}

@media screen and (min-width: 1180px) {
	.slider {
		overflow-x: initial;
	}

	.card-container {
		justify-content: center;
	}
}

.hr {
	height: 0;
    border-bottom: 4px solid var(--primary-color);

}

.mobile-hidden {
    display: none;
}

@media screen and (min-width: 768px) {
	.hr {
		margin-top: 60px;
	}

}

.header {
	border-top: 30px solid var(--primary-color);
	border-top: 30px solid var(--primary-color);
	padding: 12px;
}
.header .nav__menu a{
    margin-left:8px;
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bars {
	display: inline-block;
	cursor: pointer;
    color: var(--primary-color);
}


/*========== NAV ==========*/
.nav {
	position: absolute;
	left: 16px;
	right: 16px;
	top: 100px;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 8px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 2px 2px 19px rgba(0, 0, 0, 0.15);
	color: var(--gray-500);
	padding: 32px 24px;
	z-index: 100;
}

/*============ SHOW MENU ===========*/
#show-form:checked ~ .hero__form-hair.tabs-content {
    display: grid !important;
   }
   
   #show-form:checked  + label,
   #show-hair:checked  + label {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
   }
   
   #show-form:checked ~ .hero__form-reservation.tabs-content {
    display: none !important;
   }

   #show-form:checked   *{
	   display: none;
   }


#toggle-nav:checked ~ .nav{
    display: flex;
    border-top: 3px solid var(--primary-color);
}
.toggle__nav{
    cursor: pointer;
}
#toggle-nav{
    display: none;
}
.show-menu {
	display: flex;
	border-top: 3px solid var(--primary-color);
}

.nav__menu {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.nav__menu a {
	font-size: 1rem;
	color: var(--gray-500);
	font-weight: normal;
	display: inline-flex;
}

.header__nav-icon {
	width: 1.1rem;
	margin-right: 1rem;
}

nav a:hover {
	color: var(--primary-color);
}

nav a:not(:last-child) {
	margin-bottom: 24px;
}

@media screen and (min-width: 1024px) {
    .header {
        background-color: var(--primary-color);
    }
    
	.nav {
		display: inline-flex;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: none;
		border: none;
		padding: 0;
        background-color: transparent;
	}

	.nav__menu {
		padding: 0;
		flex: none;
		display: flex;
		flex-direction: initial;
		justify-content: space-between;
	}

    .nav__menu a {
        color: white;
    }

    .header__nav-icon {
        display: none;
    }

    .fake-element {
        display: none;
    }

    .mobile-hidden {
        display: initial;
        width: 196px;
    }

    .mobile-visible {
        display: none;
    }

	.hero__img img {
		width: auto;
	}
}

/***************************************
****************BODY SECTION************
***************************************/

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__text {
	order: 2;
	text-align: center;
	transform: translatey(-48px);
}

.hero__img {
	order: 1;
}

.hero__form {
	order: 3;
	transform: translatey(-24px);
}

.container {
	padding: 0 15px;
}

/*========== TABS ==========*/
.tabs-content {
    display: none!important;
}

.tabs-active {
    display: initial!important;
}

.tabs-active.grid-layout {
    display: grid!important;

}
/*
*Hero From
*/
.hero__form {
	padding: 20px 12px;
	background-color: var(--primary-color);
	width: 100%;
}

.hero__form > div {
	background-color: white;
	border-radius: 16px;
	padding: 24px;
	box-shadow: var(--shadow-primary);
}

/*========== CSS SHOW DYNAMICALY TABS ==========*/
#show-form:checked ~ .hero__form-hair.tabs-content {
    display: grid !important;
   }
   
   #show-form:checked  + label,
   #show-hair:checked  + label {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
   }
   
   #show-form:checked ~ .hero__form-reservation.tabs-content {
    display: none !important;
   }
   .tabs-btn {
    font-size: 14px;
    color: #bdbdbd;
    transition: color 0.3s;
    padding: 12px 16px;
    border-bottom: 3px solid transparent;
    margin-bottom: 16px;
    width: calc(50% - 16px);
    text-align: center;
   }
   
   #show-hair,
   #show-form {
    display: none;
   }

/* .hero__form-navigation {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 24px;
}

.hero__form-navigation button {
	font-size: 14px;
	color: #bdbdbd;
	transition: color 0.3s;
	padding: 12px 16px;
	border-bottom: 3px solid transparent;
} */

.hero__form-navigation button.btn-active{
	color: var(--primary-color);
	border-bottom: 3px solid var(--primary-color);
}

.hero__form-reservation .form__group:not(:last-child) {
	margin-bottom: 16px;
}

.form__group .input__element img{
    margin-right: 8px;
}
.hero__form-hair {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
}

.hero__form-hair div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero__form-hair div img {
	width: 80%;
	border-radius: 8px;
}

.hero__form-hair div h4 {
	width: 80%;
	border-radius: 8px;
	text-align: center;
	margin-top: 16px;
}

.hero__form > button {
	width: 100%;
	margin-top: 24px;
	text-transform: uppercase;
	padding: 24px 0;
	border-radius: 12px;
}

.clients {
	background-color: var(--primary-color);
	padding-top: 32px;
	padding-bottom: 32px;
	overflow-x: scroll;
}

.clients h3 {
	text-align: center;
	margin-bottom: 24px;
	color: white;
	font-size: 24px;
}

.card-container {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.card {
	flex: none;
    width: auto;
	display: flex;
	box-shadow: var(--shadow-primary);
    background-color: white;
    padding : 1rem;
    border-radius: .8rem;
	margin: 0 24px 0 16px;
}


.card img {
	width: 180px;
	border-radius: 8px;
}

.card .card__description {
	margin-left: 16px;
}

.card__description h4 {
	font-size: 24px;
	font-weight: 500;
}

.card__description p {
	font-size: 16px;
	line-height: 1.5;
	margin: 8px 0;
	color: var(--gray-500);
}

.card__description .date {
	margin-top: 16px;
	color: var(--gray-500);
}

.mega__section {
	padding-top: 32px;
	padding-bottom: 32px;
}

.mega__section section {
	margin: 32px;
	text-align: center;
}

.mega__section section a {
	margin-top: 48px;
}
.mega__section section h4 {
	color: var(--primary-color);
}

.mega__section section .flex div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.step-number {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 3px solid var(--primary-color);
	color: var(--primary-color);
}

.city {
	margin-top: 24px;
	padding-bottom: 24px;
	padding-top: 32px;
	margin-bottom: 24px;
	
}
.city h3{
    font-size: 20px;
    color: var(--primary-color);
}
.bigshop {
    padding-top: 2rem;
    padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.bigshop div h4 {
	margin-bottom: 16px;
	line-height: 1.3;
	color: var(--primary-color);
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}
.bigshop img{
    margin-top: -90px;
}

.bigshop__description {
    max-width: 485px;
}

@media (min-width: 1024px) {
	.city section .flex {
		justify-content: initial;
		flex-wrap: nowrap;
	}
}

.city-card {
	box-shadow: var(--shadow-primary);
	padding: 10px;
	border-radius: 10px;
	max-width: 220px;
	min-width: 220px;
	margin-bottom: 16px;
	margin-left: 16px;
}

.city-animation {
	position: relative;
}

.city-animation:hover a {
	opacity: 1;
	visibility: visible;
}

.city-card h4, 
.city-card h6{
	margin-top: 16px;
	line-height: 1.4;
	color: var(--gray-500);
}

.city-animation img {
	width: 100%;
	position: relative;
}

.city-animation a {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid var(--primary-color);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}

.discover {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.discover div {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 24px;
}

.discover div h4 {
	margin-bottom: 16px;
	line-height: 1.3;
	color: var(--primary-color);
	font-size: 24px;
	font-weight: 500;
}

.img-badge {
	display: inline-block;
	position: relative;
	margin-top: 32px;
}

.discover .badge-img {
	width: 48px;
	position: absolute;
	right: -24px;
	background: white;
	border-radius: 50%;
	box-shadow: var(--shadow-primary);
}

.discover .badge {
	position: absolute;
	right: 0;
	top: -24px;
	color: white;
	display: flex;
	align-items: center;
	border-top-right-radius: 24px;
	border-bottom-right-radius: 24px;
	justify-content: center;
	background-color: var(--primary-color);
	padding: 4px 8px;
	padding-right: 56px;
	transform: rotate(10deg);
}

@media (min-width: 1024px) {
	.discover {
		justify-content: space-between;
		flex-wrap: nowrap;
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.discover h4 {
		width: 448px;
	}
	.header__body .connexion{
		display: none;
	}
}

.footer {
	background-color: var(--primary-color);
	padding-top: 32px;
	padding-bottom: 32px;
	color: white;
}
.footer h4 {
	font-size: 20px;
	color: white;
}
.footer h3{
    color: white;
    font-size: 20px;
}
.footer a {
	font-size: 18px;
}
.footer__body {
	display: grid;
    text-align: center;
	grid-template-columns: repeat(1, 1fr);
	gap: 32px;
}

.f-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.f-link a:not(:last-child) {
	margin-bottom: 1rem;
}

.follow {
    display: inline-flex;
}

.social__icon {
    height: 45px;
    margin-left: 16px;
}

.copyright-container {
    margin: 16px 0;
}

@media (min-width: 768px) {

	.footer__body {
		grid-template-columns: repeat(2, 1fr);
	}
    
}
@media (min-width: 68px) {

	.mobil-connex{
        display: none;
    }
	.header__top a{
		color: white;
	}
    
}
@media (min-width: 1024px) {
	.footer__body {
		grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        text-align: justify;
	}

    .footer__body h3{
        text-align: justify;
    }

    .f-link {
        align-items: flex-start;
    }

    .hero {
        height: 624px;
    }
	.header__top {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

@media (min-width: 1024px) {
	.footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}
    .blanc{
        height: 50px;
        border-bottom: 6px solid #ff3e79;
    }
}

/*****************************
        CLASSE UTILITAIRES 
*****************************/
h3 {
	text-align: center;
	margin-bottom: 24px;
	font-weight: 600;
	line-height: 1.4;
	color: var(--gray-500);
}

.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

@media (min-width: 1024px) {
	.flex {
		justify-content: space-between;
	}

	.flex div {
		max-width: 305px;
	}
}

/*****************************
        CUSTOM SELECT 
*****************************/
.input__element {
	border: 1px solid #8c8c8c;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 14px;
	position: relative;
	width: 100%;
    height: 50px;
    color: var(--primary-color);
}

.input__element:focus-within {
	border-color: var(--primary-color);
}

.input__element:focus-within label {
	opacity: 1;
}

.input__element select {
	outline: none;
	background: transparent;
	padding: 12px 8px;
	display: inline-block;
	color: var(--primary-color);
	flex-grow: 4;
	font-size: 16px;
	border: none;
}

.input__element label {
	position: absolute;
	font-size: 12px;
	left: 10px;
	top: -8px;
	background-color: white;
	padding: 0 8px;
	color: var(--primary-color);
	transition: opacity 0.3s;
	opacity: 0;
}

.input__element img {
	vertical-align: middle;
	width: 16px;
}
input:select {
	color: var(--primary-color);
}
/*******************
*******************Media query
*******************/
@media (min-width: 768px) {
	.hero__form {
		max-width: 395px;
	}

	.clients {
		overflow-x: scroll;
	}

	.card-container {
		overflow-x: initial;
	}

	.card {
		max-width: 300px;
	}
	
}



@media (min-width: 1024px) {
	.hero {
		flex-direction: row;
	}

	.hero__text {
		order: initial;
		text-align: center;
		transform: translatey(0);
	}

	.hero__img {
		order: initial;
		margin-right: 50px;
	}
    
	.hero__form {
		order: initial;
		transform: translatey(0);
	}
	.img-connex {
		display: inherit;
	}
}

@media (min-width: 1280px) {
	.container {
		--container: 1180px;
		padding-left: calc(50% - var(--container) / 2) !important;
		padding-right: calc(50% - var(--container) / 2) !important;
	}
}

@media (min-width: 1400px) {
	.container {
		--container: 1280px;
		padding-left: calc(50% - var(--container) / 2) !important;
		padding-right: calc(50% - var(--container) / 2) !important;
	}
	.img-connex {
		display: none;
	}
}
/*QUESTIONS*/
.questions h4 {
	color: #ff3e79;
	text-align: center;
	margin-bottom: 50px;
}
.quest1,
.quest2,
.quest3 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.quest2 .number {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	margin-top: 30px;
	color: #ff3e79;
	width: 50px;
	height: 50px;
	border: 2px solid #ff3e79;
	border-radius: 100%;
}
.quest2 .nn {
	margin-left: 110px;
}
.quest2 div h5 {
	font-size: 24px;
	margin-top: 10px;
	text-align: center;
}
.quest2 div p {
	text-align: center;
	margin-top: 10px;
}
.quest3 img {
	margin-left: 0px;
	width: auto;
	margin-bottom: 20px;
	margin-top: 30px;
}
.quest3 div h5,
p {
	text-align: center;
	margin-top: 10px;
}

/*TIAKI*/
.col-4 img {
	width: 15px;
	height: 15px;
}

.row .col-4 {
	width: 400px;
	height: 200px;
	background: #ffffff;
	border-radius: 8px;
	border-radius: 8px;
	padding-top: 10px;
	margin-right: 30px;
}

.temoignage {
	background-color: var(--rose);
	padding-bottom: 2%;
	padding-left: 55px;
	padding: 30px;
}

.image_temoin {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.image_temoin .image {
	width: 100px;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image_temoin .text {
	width: 230px;
}
/*BIGSHOP*/
.bigshop {
	border-top: 10px solid var(--primary-color);
}

.text-shop {
	align-items: center;
	margin-bottom: -200px;
	display: flex;
	flex-direction: column;
}
.text-shop p {
	color: #ff3e79;
	font-size: 20px;
}
.conseil {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}
.conseil img {
	width: 590px;
	height: 387px;
}
.text-conseil {
	color: #ff3e79;
	font-size: 30px;
}
.text-conseil button {
	color: white;
	background-color: #ff3e79;
	padding: 8px;
	padding-left: 70px;
	padding-right: 70px;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	margin-top: 40px;
	margin-left: 20px;
}

/*=========== mobile app ==========*/
.mobile-app {
    background-color: var(--primary-color);
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
}

.app__title {
    color: white;
    font-size: 1.3em;
}
.app__button {
    text-align: center;
    margin-bottom: 1.5rem;
}

@media screen and (min-width : 1024px) {
    .mobile-app {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}



/*QUESTIONS*/
.questions h4 {
	color: #ff3e79;
	text-align: center;
	margin-bottom: 50px;
}
.quest1,
.quest2,
.quest3 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.quest2 .number {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100px;
	margin-top: 30px;
	color: #ff3e79;
	width: 50px;
	height: 50px;
	border: 2px solid #ff3e79;
	border-radius: 100%;
}
.quest2 .nn {
	margin-left: 110px;
}
.quest2 div h5 {
	font-size: 24px;
	margin-top: 10px;
	text-align: center;
}
.quest2 div p {
	text-align: center;
	margin-top: 10px;
}
.quest3 img {
	margin-left: 0px;
	width: auto;
	margin-bottom: 20px;
	margin-top: 30px;
}
.quest3 div h5,
p {
	text-align: center;
	margin-top: 10px;
}

/*TIAKO*/
.col-4 img {
	width: 15px;
	height: 15px;
}

.row .col-4 {
	width: 400px;
	height: 200px;
	background: #ffffff;
	border-radius: 8px;
	border-radius: 8px;
	padding-top: 10px;
	margin-right: 30px;
}

.temoignage {
	background-color: var(--rose);
	padding-bottom: 2%;
	padding-left: 55px;
	padding: 30px;
}

.image_temoin {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.image_temoin .image {
	width: 100px;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image_temoin .text {
	width: 230px;
}
/*BIGSHOP*/
.bigshop {
	border-top: 10px solid var(--primary-color);
}

.text-shop {
	align-items: center;
	margin-bottom: -200px;
	display: flex;
	flex-direction: column;
}
.text-shop p {
	color: #ff3e79;
	font-size: 20px;
}
.conseil {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
}
.conseil img {
	width: 590px;
	height: 387px;
}
.text-conseil {
	color: #ff3e79;
	font-size: 30px;
}
.text-conseil button {
	color: white;
	background-color: #ff3e79;
	padding: 8px;
	padding-left: 70px;
	padding-right: 70px;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	margin-top: 40px;
	margin-left: 20px;
}
.text-shop button {
	color: white;
	background-color: #ff3e79;
	padding: 8px;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	margin-top: 50px;
}

/*-----OU NOUS TROUVER -----*/
.coif h4{
	color: var(--primary-color);
	text-align: center;
}
.model__coif{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 53px;
}
.model__coif h6{
	color: var(--primary-color);
}
.profil__coif .profil--coif{
	width: 150px;
	height: 160px;
	border-radius: 5px;
}
.profil__coif{
	width: 180px;
	border: 2px solid var(--primary-color) ;
	border-radius: 5px;
	padding: 8px;
    flex-direction: column;
	align-items: center;
	text-align: center;
}
.belle__image{
	align-items: center;
	padding-left: 60px;
}

.belle__image img{
	flex-direction: column;
  width: 190px;
  height: 190px;
  border-radius: 8px;
  margin-left: 5px;
  margin-top: 30px;
  text-align: center;
}
